@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --primary-color: #4B7F8F;
    --secondary-color: #BFD7FF;
    --accent1-color: #E2FDFF;
    --accent2-color: #101935;

    --heading-font: 'Alfa Slab One', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #4B7F8F;
    --nav-link-color: #E2FDFF;
    --nav-hover-link-color: #BFD7FF;
    --nav-hover-background-color: #101935;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

article img {
    height: 500px;
    width: 400px;
    position: absolute;
    top: 60%; left: 70%;
}

article p {
    font-size: large;
    position: absolute;
    top: 420px; left: 400px; right: 450px;
}

h1 {
    float: right;
    position: absolute;
    top: 200px; left: 650px;
    padding: 20px 100px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.sociallinks img {
    height: 50px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexbox-item {
    width: 100%;
    margin: 10px;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.flexbox-item-1 {
    min-height: 100px;
    align-self: center;
}

.flexbox-item-2 {
    min-height: 200px;
    align-self: center;
}

.flexbox-item-3 {
    min-height: 300px;
    align-self: center;
}

.flexbox-item-4 {
    min-height: 300px;
    align-self: center;
}

.flexbox-item-5 {
    min-height: 80px;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-content: end;
    justify-content: right;
}

