@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --primary-color: #4B7F8F;
    --secondary-color: #BFD7FF;
    --accent1-color: #E2FDFF;
    --accent2-color: #101935;

    --heading-font: 'Alfa Slab One', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #4B7F8F;
    --nav-link-color: #E2FDFF;
    --nav-hover-link-color: #BFD7FF;
    --nav-hover-background-color: #101935;
}

/*.hero img {
    display: block;
    height: auto;
    
}

article img {
    height: 500px;
    width: 400px;
    position: absolute;
    top: 60%; left: 70%;
}

article p {
    font-size: large;
    position: absolute;
    top: 420px; left: 400px; right: 450px;
}

h1 {
    float: right;
    position: absolute;
    top: 200px; left: 650px;
    padding: 20px 100px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.sociallinks img {
    height: 50px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexbox-item {
    width: 100%;
    margin: 10px;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
}

.flexbox-item-1 {
    min-height: 100px;
    align-self: center;
}

.flexbox-item-2 {
    min-height: 200px;
    align-self: center;
}

.flexbox-item-3 {
    min-height: 300px;
    align-self: center;
}

.flexbox-item-4 {
    min-height: 300px;
    align-self: center;
}

.flexbox-item-5 {
    min-height: 80px;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-content: end;
    justify-content: right;
}

.grid-main {
    display: grid;
    align-content: flex-end;
    justify-content: flex-start;
}

.grid-item-1 {
    align-content: end;
    justify-content: flex-end;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 1/2;
    grid-row: 1/1;
    margin: 1rem;
}

*/
body {
    margin: 0;
    font-family: var(--paragraph-font);
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
}

.item-1 {
    grid-column: 1;
}

.item-2 {
    grid-column: 2;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    padding: 10px;
    border-radius: 5px;
}

.nav-container a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
}

.div-container {
    display: grid;
    position: relative;
}

.div-item-1 {
    width: 100%;
    height: auto;
}

.div-item-2 {
    grid-row: 1/2;
    grid-column: 1/1;
}

div h1 {
    color: #E2FDFF;
    padding: 5px;
    background-color: #101935;
    text-align: center;
}

.article-container {
    display: flex;
    flex-direction: row;
    top: 65%;
    left: 40%;
    transform: translate(-30%, -45%);
    padding: 10px;
    position: absolute;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.art-item-1 {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 20px;
}

.art-item-2 {
    font-size: large;
    text-align: justify;
    max-width: 900px;
    max-height: 300px;
}

section {
    padding: 20px;
}

section img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sociallinks img {
    height: 50px;
}

footer {
    text-align: center;
}